/*fuente principal*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*reseteo de valores par defecto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**********Inicio del Index**********/

html {
  scroll-behavior: smooth;
  /*suaviza el scroll*/
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: #323941;
}

.infoBar {
  top: 0;
  background-color: #3E4C59;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000; /*z-index muy alto para asegurar que esté por encima de otros elementos */
   p {
    color: white;
    font-size: 1rem;
    font-style: oblique;
  }
}

/* Estilos para la barra de navegacion */
nav {
  top: 20px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #282f445f;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0px 0px 10px #00000067;
  z-index: 999;/* Mayor valor de z-index para asegurar que esté sobre el fondo */
 
}

nav ul {
  display: flex; /*se ubica en línea la lista*/
  padding: 100px;
}

nav ul li {
  list-style: none;
  /*se eliminan las viñetas de los elementos de la lista*/
  margin: 0 25px;
}

nav ul li a {
  text-decoration: none;
  /*se elimina el subrayado a los elementos*/
  color: #ffffff;
}

nav ul li a:hover {
  color: #39f2ae;
}
.logoContainer{
  img{
   width:220px;
  }
}

/*queries para pantallas pequeñas*/
 @media screen and (max-width: 768px){
  .logoContainer{
    display: none;
  }
  .logoMenu{
    display:block;
    width: 200px;
  }
  

  .cubierta{
    top:-50px;
    width: 300px;
    height: 100%;
    position: relative;
  }
  
  .cubierta .menuBtn {
    position: absolute;
    left: 5px;
    top: 10px;
    background: #323941;
    color: #39f2ae;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: 1px solid #39f2ae;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  #btn:checked~.menuBtn {
    left: 247px;
  }

  .cubierta .menuBtn i {
    position: absolute;
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }

  .cubierta .menuBtn i.fa-times {
    opacity: 0;
  }

  #btn:checked~.menuBtn i.fa-times {
    opacity: 1;
    transform: rotate(-180deg);
  }

  #btn:checked~.menuBtn i.fa-bars {
    opacity: 0;
    transform: rotate(180deg);
  }

  .menuLateral {
    position: absolute;
    height: 100vh;/*ocupo todo el view height*/
    width: 270px;
    left: -270px;
    transition: all 0.3s ease;
    background-color: #282f44;
   }

  #btn:checked~.menuLateral {
    left: 0;
  }

  .menuLateral .listaItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin:0;
  }

  .menuLateral .listaItems li {
    line-height: 50px;
    padding: 5px;
    width: 100%;
    border-top: 1px solid #b1b5c0;
    border-bottom: 1px solid #b1b5c0;
    transition: all 0.3s ease;
   
  }

  .listaItems li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #39f2ae;
  }

  .listaItems li:nth-child(n) {
    border-top: none;
  }
 
  .listaItems li:last-child {
    border-bottom:none;
    box-shadow: none;
  }

  .listaItems a {
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    display: block;
  }

  .listaItems a:hover {
    color: #39f2ae
  }
  .headline{
    text-align: center;
  }
}

/*media queries para dispositivos medianos*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logoContainer{
    img{
      display: none;
    }
  }
  
  nav {
    justify-content: space-evenly;
    padding: 0 10px; /* Reduce el padding lateral */
    height: 80px; /* Ajusta la altura de nav */
  }

  nav ul li {
    margin: 0 15px; /* Reduce el espacio entre los elementos */
  }

.headline {
  text-align: center;
 }
}

/*Estilos para el background*/
.contenedor {
  top:-40px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  background-image: url(../assets/img/imgen1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedorImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  color: rgb(255, 255, 255);
  font-optical-sizing: auto;
}

.contenedorImg {
  img {
    margin-top: 24px;
    width: 220px;
    z-index: 5;
  }
}

.superponer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 4;
  /*Para que el oscurecimiento esté sobre la imagen de fondo */
}

.content {
  position: relative;
  z-index: 5;
  color: rgb(255, 255, 255);
  font-optical-sizing: auto;
}

.content {
  h1 {
    font-size: 3rem;
    line-height: 1.3;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: left;
    padding-right: 64px;
  }
}

.btnMain {
  margin-top: 32px;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #39f2ae;
  border-radius: 1rem;
  width: 180px;
  cursor: pointer;
  background-color: transparent;
}

.btnMain a {
  text-decoration: none;
  color: #ffffff;
}

.btnMain:hover {
  /*sombra de cuatro capas*/
  box-shadow: 0 0 0px 1px #39f2ae,
    0 0 10px 2px #39f2ae,
    inset 0 0 0px 1px #39f2ae,
    inset 0 0 15px 2px #39f2ae;
}

/**media queries para el contenedor del background principal**/
/*Media queries para dispositivos pequeños*/
@media screen and (max-width: 768px) {
  .infoBar {
    display: none;
  }

 .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 15px;
  }

  .contenedorImg img {
    width: 150px; 
    margin-top: 20px;
  }

  .content h1 {
    font-size: 2rem;
    line-height: 1.2;
    padding: 0;
  }

  .content p {
   display: none; /*elimino el párrafo descriptivo
   para que sea vea mejor el background*/
  }

  .btnMain {
    padding: 8px 14px;
  }
}

/*dispositivos medianos*/
@media (min-width: 769px) and (max-width: 1024px) {
  .infoBar {
    p{
      display: none;
    }
  }
  p.encabezado{
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #39f2ae;
  }
 .contenedorImg img {
    width: 180px; 
}

.content h1 {
    font-size: 2.3rem; 
  }
.content p {
    font-size: 1rem;
    padding-right: 32px; 
  }
.btnMain {
  width: 150px; 
}
}

/***** Seccion destacados****/
.headline {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.all-products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 48px;
}

.product {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  overflow: hidden;
  color: #39f2ae;
  border-radius: 10px 32px;
  border: 2px solid #39f2ae;
  position: relative; /*me sirve para poder posicionar el ícono del fav*/
}

/*corazoncito de favorito*/
.fa-heart {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.fa-heart:hover {
  scale: 1.2;
}

.product-title {
  font-size: 1.2rem;
  padding-bottom: 16px;
}

.product-off {
  font-style: oblique;
  color: #ffffff;
  background-color: #39f2ae62;
  box-shadow: 1px 1px 5px #39f2ae;
  padding: 3px;
}

.product-shipping {
  font-style: oblique;
  color: #b1b5c0;
  padding-top: 16px;
}

.product img {
  width: 180px;
  margin: 10px;
  transition: ease 0.3s;
}

.product:hover img {
  scale: 1.2;
}

.product-btn {
  display: inline-block;
  border: 2px solid #39f2ae;
  background-color: #323941;
  padding: 10px 20px;
  border-radius: 10px 32px;
  margin-top: 16px;
  font-size: 1rem;
  color: #ffff;
}

.product-btn:hover {
  box-shadow: 0 0 0px 1px #39f2ae,
    0 0 10px 2px #39f2ae,
    inset 0 0 0px 1px #39f2ae,
    inset 0 0 15px 2px #39f2ae;
}
/*media queries para destacados*/
@media only screen and (max-width:640px){
  .headline{
    padding: 10px;
    line-height: 1.5;
    text-align: center;
  }
  
}

/*estilos para la seccion colecciones*/
.coleccionContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 10px #00000067;
}

.hombre, .mujer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hombre img, .mujer img {
  display: flex;
  align-items: center;
  width:640px;
  opacity: 0.9;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.hombre h2, .mujer h2 {
  position: absolute;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.806);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.btnColeccion {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%); /*corrige 50% para la izquierda*/
  background-color: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #39f2ae;
  border-radius: 16px;
  width: 30%;
  cursor: pointer;
}

.btnColeccion a {
  text-decoration: none;
  color: #ffffff;
}

.btnColeccion:hover {
  box-shadow: 0 0 0px 1px #39f2ae,
    0 0 10px 2px #39f2ae,
    inset 0 0 0px 1px #39f2ae,
    inset 0 0 15px 2px #39f2ae;
}

/*media queries seccion coleccion*/
/*dispositivos pequeños*/
@media only screen and (max-width: 768px) {
  .coleccionContainer {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      box-shadow: none
    }
  
  .hombre img, .mujer img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .hombre h2, .mujer h2 {
    font-size: 1.8rem;
  }

  .btnColeccion {
    top: 80%;
    width: 40%;
    font-size: 1.2rem;
    padding: 8px 10px;
  }
}

/*media queries para dispositivos medianos*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .coleccionContainer {
    flex-direction: column; 
     width: 80%; 
     row-gap: 20px;
     box-shadow: none;
  }
  .hombre img, .mujer img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .hombre h2, .mujer h2 {
    font-size: 2.2rem;
    top: 45%;
  }
}
 .btnColeccion {
    top: 75%;
    width: 35%;
    font-size: 1rem;
    padding: 8px 6px;
  }

/*Estilos seccion categorias*/
.categoriasContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
}

.categoria {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.categoria img {
  width: 200px;
  aspect-ratio: 2/3;
  border-radius: 10px;
}

.categoria:hover {
  transform: scale(1.1);
}

.categoria h2 {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  border-top: 2px solid #39f2ae;
  border-bottom: 2px solid #39f2ae;
  background: rgba(255, 255, 255, 0.227);/* Fondo semitransparente para el texto */
  color: #ffffff;
  z-index: 1; /*Me aseguro de que el texto quede por encima de la imagen */
  text-align: center;
  font-size: 1.5rem;
  backdrop-filter: blur(5px);
}

/*media queries seccion categorias*/
/*dispositivos pequeños*/
@media screen and (max-width: 768px) {
  .categoriasContainer {
    flex-wrap: wrap;
    align-items: center;
    
  }
  .categoria {
    img{
      width:180px ;
    }
  }
  .categoria {
    margin-bottom: 20px; 
  }
}
/*dispositivos medianos*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .categoriasContainer {
    gap: 20px;
  }
  .categoria {
    margin-bottom: 20px;
  }
}

/**seccion Nosotros**/
.nosotrosContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #b1b5c0;
  box-shadow: 0px 0px 10px #00000067;
}

.nosotrosImg {
  display: flex;
  align-items: center;
 

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}

.nosotrosTexto {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;

  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 24px;
  }
p {
    font-size: 1rem;
    line-height: 1.6;
  }
}

/*media queries seccion Nosotros */
/* dispositivos pequeños*/
@media screen and (max-width: 768px) {
  .nosotrosContainer {
    flex-direction: column; 
    padding: 20px;
  }
  .nosotrosImg img {
   aspect-ratio: 4/3; 
  }
  .nosotrosTexto {
    padding: 20px; 
  }
  .nosotrosTexto h2 {
    font-size: 1.4rem; 
    line-height: 1.5;
  }
  .nosotrosTexto p {
   line-height: 1.4;
  }
}
/*dispositivos medianos */
@media (min-width: 769px) and (max-width: 1024px) {
  .nosotrosContainer {
    flex-direction: column; 
    padding: 20px; 
    width: 80%; 
  }

  .nosotrosImg {
    margin-bottom: 20px; 
  }

  .nosotrosTexto {
    padding: 16px;

    h2 {
      font-size: 1.4rem; 
    }

   p {
      line-height: 1.5; 
    }
  }
}

/** Estilos para la seccion de marcas **/
.contenedorMarcas {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;

  .boxMarcas {
    width: 180px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #39f2ae8f;
  }

  img {
    width: 100px;
  }
}

/**Estilos sección servicios**/
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #b1b5c0;
  padding: 32px;
  margin-top: 40px;
}

.servicios {
  i {
    padding: 28px;
    color: #39f2ae;
    filter: drop-shadow(1px 1px 3px black)
  }
}

.columna-izq, .columna-medio {
  border-right: 2px solid rgba(0, 0, 0, 0.448);
}

.columna-izq, .columna-medio, .columna-der {
  text-align: center;
}

/*media queries seccion servicios*/
/*dispositivos pequeños*/
@media screen and (max-width:768px){
  .servicios{
    grid-template:repeat(3, auto) / 1fr;
    grid-template-areas: "columna-izq"
    "columna-medio"
    "columna-der";
 }
 .columna-izq, .columna-medio, .columna-der {
  margin-bottom: 20px;
 }

 .columna-izq, .columna-medio {
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.448);
}

}

/*dispositivos medianos*/
@media screen and (min-width:769px) and (max-width: 1024px) {
  .servicios{
    grid-template:repeat(3, auto) / 1fr;
    grid-template-areas: "columna-izq"
    "columna-medio"
    "columna-der";
}
.columna-izq, .columna-medio, .columna-der {
 margin-bottom: 20px;
}

 .columna-izq, .columna-medio {
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.448);
}

}

/*Estilos para el footer*/
.footer-container {
  display: grid;
  grid-template: 160px 160px 64px /1fr 1fr 1fr;
  grid-template-areas: "arriba-izq arriba-medio arriba-der"
    "centro-izq centro-medio centro-der"
    "abajo abajo abajo";
  width: 100%;
  gap: 20px;
  background-color: #2f4858;
  color: #b1b5c0
}

.arriba-izq {
  grid-area: arriba-izq;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.arriba-izq ul {
  display: flex;
  list-style: none;
}

.arriba-izq ul li {
  padding: 13px;
}

.arriba-der {
  grid-area: arriba-der;
  padding-top: 32px;
  align-items: center;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.newsletter i {
  margin-right: 16px;
}

.fa-envelope {
  color: #39f2ae
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  padding: 8px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background-color: #30353c;
  color: #ffff;
}

.btnEmail {
  background-color: #39f2ae91;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px 8px;
  border: 1px solid #39f2ae;
  border-radius: 8px;
  cursor: pointer;
}

.btnEmail:hover {
  background-color: transparent;
  box-shadow: 0 0 0px 1px #39f2ae,
    0 0 10px 2px #39f2ae,
    inset 0 0 0px 1px #39f2ae,
    inset 0 0 10px 2px #39f2ae;

}

.list-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #39f2ae;
}

.centro-izq {
  grid-area: centro-izq;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centro-izq {
  ul {
    list-style: none;
    text-align: left;
  }
}

.centro-izq {
  li {
    padding-bottom: 10px;
  }
}

.centro-medio {
  grid-area: centro-medio;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.centro-medio address p {
  padding-bottom: 10px;
}

.centro-der {
  grid-area: centro-der;
}

.centro-der ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centro-der li {
  list-style: none;
}

.centro-der img {
  width: 78px;
  height: auto;
  padding: 1rem;
}

.fa-brands {
  color: #39f2ae;
  cursor: pointer;
}

.fa-brands:hover {
  color: #a0a4a8;
}

.abajo {
  grid-area: abajo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E4C59;
  border-top: 1px solid #39f2ae;
}

.abajo-content {
  color: #a0a4a8;
}

.fa-whatsapp {
  color: rgb(23, 182, 23);
  font-size: 3rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}

/*animación para el ícono de whatsapp*/
.pulso {
  animation-name: pulso;
  animation-iteration-count: infinite;
  animation-duration: .8s
}

@keyframes pulso {
  35%, 65% {
    transform: scale(1.2)
  }
}

/*botón de volver hacia arriba*/
.back_to_top {
  color: #a0a4a86a;
  font-size: 3rem;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1001;
}

.back_to_top:hover {
  color: #39f2ae;
}

/**Media Queries para el footer**/
@media screen and  (max-width: 768px) {

 /*Reestructuro todo en una sola columna y 7 filas que se ajustan en auto*/
  .footer-container {
    grid-template: repeat(7, auto) / 1fr;
    grid-template-areas:
      "arriba-izq"
      "arriba-medio"
      "arriba-der"
      "centro-izq"
      "centro-medio"
      "centro-der"
      "abajo";
  }

  .email-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .newsletter {
    flex-direction: column;

    i {
      margin-bottom: 10px;
    }
  }

  .arriba-izq, .centro-der ul {
    flex-wrap: wrap;
    gap: 10px;
  }

  .btnEmail {
    width: 100%;
  }

  .centro-der {
    img {
      max-width: 68px;
    }
  }

  .abajo {
    text-align: center;
    padding: 10px;
  }
}
/**dispositivos medianos **/
@media screen and (min-width: 768px) and (max-width: 1024px) {
 .footer-container {
    grid-template: repeat(7, auto) / 1fr;
    grid-template-areas:
      "arriba-izq"
      "arriba-medio"
      "arriba-der"
      "centro-izq"
      "centro-medio"
      "centro-der"
      "abajo";
  }

  .email-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .newsletter {
    flex-direction: column;

    i {
      margin-bottom: 10px;
    }
  }

  .arriba-izq, .centro-der ul {
    flex-wrap: wrap;
    gap: 10px;
  }

  .btnEmail {
    width: 100%;
  }

  .centro-der {
    img {
      max-width: 68px;
    }
  }

  .abajo {
    text-align: center;
    padding: 10px;
  }
}

/**********Fin del index**********/

/**********Inicio de página de contacto**********/

/*contenedor de la sección contacto*/
.header {
  top: 0;
  position: sticky;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.navbar {
  width: 100%;
  padding: 0 20px;
  background-color: #282f44fc;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0px 0px 10px #00000067;
}
.contacto {
  width: 60%;
  padding: 1.5rem;
  max-width: 900px;
  /* Establece un ancho máximo */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  box-shadow: 0 0 10px 0 #39f2ae;
  border-radius: 25px;
  background-color: #323941;

}

/*contenedor de la izquierda que aloja a la imagen */
.contenedor_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.contacto_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*contenedor de la derecha que aloja al formulario*/
.contenedor_form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 1.5rem;
  color: #f5f5f5f5;
 
}

.contacto_titulo {
  font-size: 2.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* estilos para el formulario */
.contacto_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contacto_input {
  height: 30px;
  outline: none;
  padding: 5px;
  border-bottom: 1.5px solid #39f2ae;
  /*nuevo borde inferior en cada input*/
  border-top: none;
  /*Se eliminan los bordes del input */
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 16px;
  color: #f5f5f5;
  background-color: transparent;
}

.form_input_linea {
  margin-bottom: 25px;
  width: 100%;
}

.contacto_label {
  font-size: 18px;
  font-weight: 600;
}

select.custom {
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border: 2px solid #39f2ae;
  color: #f5f5f5;
  background-color: #323941;
}

.contacto_input_textArea {
  outline: none;
  padding: 5px 0;
  border-bottom: 1.5px solid #39f2ae;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 17px;
  color: #f5f5f5;
  background-color: transparent;
}

.form_botones{
  display: flex;
  justify-content: space-around;
}

.contacto_submit_boton {
  width: 40%;
  padding: 15px ;
  background-color: transparent;
  border-radius: 50px;
  color: #f2f2f2;
  font-weight: 400;
  border: 1px solid #39f2ae;
  font-size: 18px;
  cursor: pointer;
}

.contacto_submit_boton:hover {
  background-color: #39f2ae;
  color: black;
}


/**media queries para la pagina de contacto**/
/**dispositivos pequeños **/
@media only screen and (max-width:768px){
  .contactoHeader .cubierta {
    top:-210px
  }
  .contactoHeader .menuLateral{
    left:-300px
  }
  

 .contenedor_img{
    display: none;
  }

  .contenedor_form{
    width: 100%;
  }
  .contacto_submit_boton{
    font-size: 1rem;
    padding: 10px;
  }
  
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .contenedor_img{
    display:none;
  }
  .contenedor_form{
    width: 100%;
  }
}



/***********Fin de página de contacto**********/

/***********Inicio pagína coleccion mujer**********/
.header {
  top: 0;
  position: sticky;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.navbar {
  width: 100%;
  padding: 0 20px;
  background-color: #282f44fc;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0px 0px 10px #00000067;
}

.banner {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background-image: url(../assets/img/banner_mujer_new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 32px;
  position: relative;
}

.superposicion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 4;
  /*Para que el oscurecimiento esté sobre la imagen de fondo */
}

.mainText {
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.6;
  padding: 0 32px 40px 32px;
}

/**Media Queries para la seccion mujeres**/
@media only screen and (max-width:768px){
  .banner{
    display: none;
  }
  .header .cubierta{
    top:-10px
 }
 .header .menuLateral{
  left:-300px
 }



}

/***********Fin de la página coleccion mujer**********/

/***********Inicio de la página coleccion hombre**********/
.bannerMan {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background-image: url(../assets/img/banner_hombre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 32px;
  position: relative;
}

/*espacio entre la seccion productos y el footer*/
.margenAbajo {
  margin-bottom: 80px;
}

/**Media Queries para la seccion hombres**/
@media only screen and (max-width:768px){
  .bannerMan{
    display: none;
  }
 
  }
  
  


/*Estilos para la pagina del carrito de compras */
.carrito h1{
  margin-top: 40px;
  text-align: center;
  font-size: 2.3rem;
}
   
  /*contenedor principal de la lista carrito */
   #lista-carrito {
    width:50%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #39f2ae;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Cada producto dentro del carrito */
  #lista-carrito table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #39f2ae;
    padding-top:40px;
    padding-bottom:40px;
  
  img{
    width:180px;
    height: auto;
    object-fit: cover;
  }

  h3 {
    font-size: 1.3rem;
    color:#39f2ae
  }

  p {
    font-size: 1.1rem;
    text-align: center;
    color:#ffff;
    /*margin-top:-30px;*/
  }
}

  #lista-carrito table:last-child {
    border-bottom: none;
  }

  #total-carrito{
    h3 {
      font-size: 1.8rem;
      text-align: center;
      color:#39f2ae;
    }
  } 

  .carrito-botones{
    display: flex;
    justify-content:center;
    margin-bottom: 40px;
  }


.carrito-vacio { 
    text-align: center;
    color:#39f2ae;
   
}

/**Media Queries para la página del carrito**/
@media only screen and (max-width:768px){
  .carrito {
    margin-top: 10px;
    text-align: center;
    padding:10px
  }

  #lista-carrito img{
    display: none;
  
  }
}
   
/*Estilos para la seccion de la api */
.api_chuck{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 img{
    width: 200px;
    filter: drop-shadow(1px 1px 3px #39f2ae);
    margin-bottom: 1rem;
    cursor: pointer
  }

  p{
    font-size: 1.2rem;
    font-style: italic;
    color:#39f2ae;
    padding:0px 50px;
}
img:hover{
  animation: shake 0.5s;
}

}
/*animacion para chuck*/
@keyframes shake {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

 

  

    
  
  

  

 


